html {
    --black:	#21252a;
    --grey-1: #343A40;
    --grey-2: #495057;
    --grey-3: #868E96;
    --grey-4: #ADB5BD;
    --grey-5: #CED4DA;
    --grey-6: #DEE2E6;
    --grey-7: #E9ECEF;
    --grey-8: #F1F3F5;
    --grey-9: #F8F9FA;
    --trans-black: rgba(33, 37, 42, .9);
    --red: #e10600;
    --gold: #ffda65;
    --gold-dark: #a3862c;
    --bronze: #c99355;
    --bronze-dark: #80582c;
  }
  .wrapper_history{
      padding-top: 50px;
      align-items: center;
      justify-items: center;
  }

  



.list {
    width: 100%;
    max-width: 600px;
    margin: 1.5rem auto 1.5rem;
    border-radius: 0.4rem;
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.07);
  }
  @media (max-width: 800px) {
    
      .list {
        width: fit-content;
        margin: 1.5rem  1.5rem;
        transform: scale(0.8);
      }
      
    
  }

  .list__table {
    width: 100%;
    border-spacing: 0;
    color: var(--grey-3);
    
  }
  .list__header {
    width: auto;
    padding: 1.5rem 1rem;
    background: white;
   
  }
  .list__header h1, .list__header h5 {
    margin: 0;
    padding: 0;
  }
  .list__header h5 {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--red);
  }
  .list__value {
    display: block;
    font-size: 18px;
  }
  .list__label {
    font-size: 11px;
    opacity: 0.6;
  }
  .header_row {
    color: var(--gold-dark);
    background: var(--grey-9);
  }
  .header_row  .list__cell:first-of-type {
    background: var(--gold);
    color: var(--gold-dark);
  }
  .list__row {
    color: var(--grey-2);
    background: var(--grey-9);
    cursor: pointer;
    transition: all 300ms ease;
  }
  
  .list__row:hover, .list__row:focus {
    transform: scale(1.05);
    box-shadow: 0px 15px 28px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.08);
    transition: all 300ms ease;
  }
  
  .list__row:not(:last-of-type)  .list__cell {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08);
  }
  

  
 .list__cell {
    padding: 1rem;
  }
   .list__cell:first-of-type {
    text-align: center;
    padding: 1rem 0.2rem;
    background: var(--grey-5);
  }
  
  
  
  @-webkit-keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      left: 0;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      left: 0;
    }
  }