.wrapper_home, .wrapper_home:before, .wrapper_home:after {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    
}

.welcome_text h1{
    color: black;
}

.heading_h {
    width: 100%;
    
    font-weight: 400;
    font-size: 1.218rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    position: relative;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    text-decoration-color: #008cff;
  }

.text_home{
    padding: 20px;
}
.welcome_box{
    height:100%;
    width:100vw;
    /* background-image: url(../../assets/images/banner-bg.png);
    background-size: cover;
    background-repeat: no-repeat; */
   
    margin-top: -10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    
}
.welcome_text{
    /* background-color: chartreuse; */
    
}
.welcome_image{
    /* background-color: rgb(255, 255, 255); */
    padding: 20px;
}
.wel_image{
    max-width: 600px;
    width:80%;
    height:auto;
    position: relative;
}
.section1{
    height:100%;
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.section2{
    height:100%;
    width:100%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
    

}
.section3{
    height:100%;
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.footer_h{
    
}

@media (max-width: 760px){
    .welcome_box{
        height:100%;
        width:100vw;
        /* background-image: url(../../assets/images/banner-bg.png);
        background-size: cover;
        background-repeat: no-repeat; */
       
        margin-top: -10vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 50px;
        
    }
    .welcome_text{
        /* background-color: chartreuse; */
        
    }
    .welcome_image{
        /* background-color: rgb(255, 255, 255); */
        padding: 20px;
    }
    .wel_image{
        max-width: 600px;
        width:80%;
        height:auto;
        position: relative;
    }
    .section1{
        height:100%;
        width:100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        
    }
    .section2{
        height:100%;
        width:100%;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        position: relative;
        
    
    }
    .section3{
        height:100%;
        width:100vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        
    }
}