/* header {
	padding: 50px 15px 0px;
} */

header h1 {
	color: rgb(0, 0, 0);
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
}

section {
	padding: 15px;
}

.searchbox {
	display: block;
	width: 90%;
	padding: 15px;
    height:20px;
	border: none;
	outline: none;
	background: none;

	background-color: #EEE;
	border-radius: 8px;

	color: #53565A;
	font-size: 20px;
	font-weight: 300;
margin-right: 10px;
	transition: 0.4s ease-out;
}

.searchbox:focus {
	box-shadow: 0px 0px 8px 3px #4484C4;
}

.results {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
	 
}

.results .result {
	width: 25%;
	min-width: 250px;
    padding: 5px;
    margin:10px;
    border-radius: 10px;
	display: flex;
	flex-direction: column;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.results .result img {
	display: block;
	width: 100%;
    margin-bottom: 5px;
    border-radius:10px;
}

.results .result h3 {
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	padding: 5px;
	/* background: #0a72da; */
	flex: 1 1 100%;
    transition: 0.4s ease-out;
    border-radius:5px;
    margin-bottom: 5px;
}

.results .result:hover  {
	box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000000;
    
	overflow-y: scroll;
}

.popup .content {
	display: block;
	width: 100%;
	align-self: center;
	max-width: 960px;
	margin: 0 auto;
	padding: 25px;

	color: #FFF;
}
.con{
	
	margin: 0px -15px 30px;
	padding: 10px;
	/* border: rgb(0, 183, 255) double 5px;
	box-shadow: rgb(5, 5, 5) 5px 5px; */
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border-radius: 20px;
	text-align: center;
}
.popup .content h2 {
	font-size: 48px;
	font-weight: 600;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: black 2.5px 2.5px;
}
.popup .content h2 span {
	font-weight: 300;
	font-size: 48px;
}

.popup .plot .pa  {
	font-size: 22px;
	
}

.popup .content .plot {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* background-color: #1c91ff; */
	margin: 0px -10px 30px;
	padding: 20px;
	/* border-radius: 20px;
	border: crimson double 5px;
	box-shadow: rgb(5, 5, 5) 5px 5px; */
}

.popup .content .plot img {
	flex: 1 1 50%;
	max-width: 300px;
	padding: 0px 15px;
}

.popup .content .plot .pa {
	flex: 1 1 40%;
	padding: 35px;
	/* top: 50%; */
}

.popup .content .close {
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 700;
    /* margin: auto; */
	background: whitesmoke;
	color: rgb(211, 0, 0);
	border-radius: 8px;
	/* border: darkturquoise 5px double; */
	outline: none;
	appearance: none;
	cursor: pointer;
    margin-left: 50%;
	transition: 0.4s ease-out;
}

.popup .content .close:hover {
	background: #223343;
}
.but{
   
    
	align-self: center;
	justify-self: center;
	

}
.searchbox-wrap{
	display: flex;
	
}
@media (max-width: 760px){
	.searchbox-wrap{
	  flex-direction: column;
	}
	.searchbox{
		height:10px;
		margin-bottom: 10px;
	}
	.results{
		flex-direction: column;
		margin: auto;
	  }
	  .popup .content .close{
		  margin-left: 30%;
	  }
	  .but{
		 
		  margin: 20px;
		  height:40px;
	  }
	  .results .result{
          min-width: 250px;
          margin-left: auto;
	  }
  }
  .pa span{
	  background-color: #fdfeff;
	  color: rgb(3, 3, 3);
	  /* padding: 5px; */
	  border-radius: 10px;
	  margin: 20px;
	  
  }